*{
    margin: 0;
    padding: 0;
}

img{
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(Canopus.jpg);
    background-size: cover;
    background-position: center;
}

#main {
   color:  white;
text-align: center;
} 
